body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:847px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u0 {
  position:absolute;
  left:137px;
  top:46px;
  width:710px;
  height:48px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_ann {
  position:absolute;
  left:840px;
  top:42px;
  width:1px;
  height:1px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:29px;
}
#u2 {
  position:absolute;
  left:151px;
  top:61px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:29px;
}
#u4 {
  position:absolute;
  left:231px;
  top:61px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(210, 84, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:344px;
  top:61px;
  width:55px;
  height:19px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 84, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:399px;
  top:61px;
  width:55px;
  height:19px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 84, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:454px;
  top:61px;
  width:55px;
  height:19px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 84, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:509px;
  top:61px;
  width:55px;
  height:19px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 84, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:574px;
  top:55px;
  width:266px;
  height:31px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:600px;
  top:61px;
  width:230px;
  height:20px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:13px;
  text-decoration:underline;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:580px;
  top:61px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
